<nav >
    <ul class="nav nav-underline justify-content-center">
  
      <li class="nav-item">
        <a class="nav-link " routerLink="/home/encuestas"   routerLinkActive="active" >Encuestas</a>
      </li>

 <!--      <li class="nav-item">
        <a class="nav-link" routerLink="/formularioMateria/:id" routerLinkActive="active" >Crear Materia</a>
      </li> -->
      <li class="nav-item">
        <a class="nav-link" routerLink="/formularios/login" routerLinkActive="active" >Loguearse</a>
      </li>
    </ul>
  </nav>